@mixin mobile {
  @media (max-width: 600px) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: 768px) {
    @content;
  }
}

@mixin laptop {
  @media (max-width: 1200px) {
    @content;
  }
}

.faq {
  h2 {
    text-align: center;
    font-size: 35px;
  }
  .faq__container {
    width: 80%;
    margin: 0 auto;
    @include mobile {
      width: 100%;
    }
  }
}
