@mixin mobile {
  @media (max-width: 600px) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: 768px) {
    @content;
  }
}

@mixin laptop {
  @media (max-width: 1200px) {
    @content;
  }
}

.form {
  background: rgba(30, 52, 72, 1);
  padding: 5rem 0;
  position: relative;
  .absolute-top,
  .absolute-bottom {
    position: absolute;
    width: 30%;
  }
  .absolute-top {
    top: 0;
    left: 0;
    width: 30%;
  }
  .absolute-bottom {
    bottom: 0;
    right: 0;
  }
  form {
    z-index: 10;
    width: 45%;
    margin: 0 auto;
    border-radius: 0.8rem;
    background: var(--white);
    padding: 2rem;
    @include mobile {
      width: 100%;
      .row {
        flex-direction: column;
      }
    }
    input,
    select {
      display: block;
      width: 100%;
      height: 2.5rem;
      margin: 1rem 0;
      padding: 0rem 0.5rem;
      border: 1px solid var(--blue);
      outline: none;
      border-radius: 0.1rem;
      font-size: 15px;
      font-weight: 500;
      color: var(--blue);
      &::placeholder {
        color: var(--blue);
        font-size: 14px;
        font-weight: 500;
      }
      &:focus {
        outline: 1px solid var(--blue);
      }
    }
    .row {
      display: flex;
      gap: 0.4rem;
    }
    button {
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      width: 100%;
      border: 1px solid transparent;
      background: var(--blue);
      color: var(--white);
      padding: 1rem;
      border-radius: 2rem;
      font-size: 14px;
      font-weight: 600;
      margin: 1rem 0;
      cursor: pointer;
      transition: all 0.5s;
      letter-spacing: 2px;
      @include mobile {
        padding: 1rem;
        border-radius: 0.1rem;
      }

      // &:hover {
      //   background: transparent;
      //   border-color: var(--blue);
      //   color: var(--blue);
      // }
    }
    .short__link {
      display: flex;
      align-items: center;
      height: 2.5rem;
      background: rgb(223, 221, 221);
      color: var(--blue);
      input {
        height: 100%;
        border: none;
        outline: none;
        background: transparent;
        font-size: 14px;
        font-family: monospace;
        color: var(--blue);
      }
      .icon {
        margin-right: 1.5rem;
        cursor: pointer;
      }
    }
    p {
      font-size: 14px;
      margin: 1.5rem 0 0;
    }
  }
}
