@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --blue: rgba(0, 101, 254, 1);
  --white: rgba(255, 255, 255, 1);
  --dark: rgba(20, 20, 20, 1);
}

* {
  bottom: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  max-width: 100vw;
  width: 100%;
}

@mixin mobile {
  @media (max-width: 600px) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: 768px) {
    @content;
  }
}

@mixin laptop {
  @media (max-width: 1200px) {
    @content;
  }
}

.container {
  width: 80%;
  margin: 0 auto;

  @include mobile {
    width: 100%;
    padding: 0 1rem;
  }
}

section {
  margin: 2rem 0;
  padding: 2rem 0;
}

.ddd {
  border: 1px solid red;
}

.error {
  color: red;
  font-weight: 600;
  font-size: 10px;
}
